@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
footer{
    padding: 20px;
    width: 100%;
    background: #101948;
    color: white;
    text-align: center;
}
.full{
	width: 100%;
    height: 100vh;
    background-image: url("../img/404/fondo.svg");
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.titulo{
	color: #3efeff;
    position: absolute;
    margin-top: 300px;
    font-size: 2rem;

}
.btn{
	background: #3efeff;
    color: blue;
    padding: 10px 50px;
    border-radius: 15px;
    position: absolute;
    margin-top: 400px;
    text-decoration: none;
    z-index: 10;
}

#planeta{
	position: absolute;
    animation: planete;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


}
@keyframes planete{
   from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}